@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/****************************************** Colours */

:root {
    --pure-black: #000;
    --light-black: #1E1E1E;
    --dark-grey: #282828;
    --accent-1: #E3FF72;
    --light-grey: #E0E0E0;
    --pure-white: #fff; 
    --accent-2: #b1c951;
    --mid-grey: #575757;
}

body {
    background-color: var(--light-black);
}

.accent-highlight {
    color: var(--accent-1);
}

.black-lowlight {
    color: var(--pure-black);
}

.light-grey-highlight {
    color: var(--light-grey);
}

#home-section,
#skills-section,
#contact-section {
    background-color: var(--light-black);
}

#bio-section,
#work-history-section,
#portfolio-section,
#footer-section {
    background-color: var(--dark-grey);
}

.progress-bar-colour-1 {
    background-color: var(--dark-grey);
    color: var(--light-grey);
}

.progress-bar-colour-2 {
    background-color: var(--dark-grey);
    color: var(--light-grey);
}

.progress {
    background-color: var(--mid-grey);
}


/****************************************** Spacing */

.line-br-lg-screens {
    display: none;
}

.br-from-md {
    display: none;
}

/****************************************** Dividers */

    

.divider-short {
    background-color: var(--light-grey);
    width: 30%;
    margin: 0 auto;
}

.arrow-down p {
    color: var(--light-grey);
}

.arrow-down p:hover,
.arrow-down a:hover {
    color: var(--accent-1);
}

.arrow-down {
    text-align: center;
}

a > .arrow-down > i {
    font-size: 2em;
    color: var(--accent-1);
}


/****************************************** Universal Styles */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}
/****************************************** Font Sizing */

/* h1 */

 .landing-page-heading,
 .section-heading {
    font-family: "Lato", sans-serif;
    color: var(--light-grey);
    font-size: 2em;
}


.h2-heading {
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    color: var(--light-grey);
    text-transform: uppercase;
}

.h4-heading {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    color: var(--light-grey);
}

.paragraph {
    color: var(--light-grey);
    font-family: "Roboto", sans-serif;
}

a {
    font-family: "Roboto", sans-serif;
}

a:hover {
    text-decoration: none;
}


/****************************************** Navigation */

/* Overriding Bootstrap Navbar Styles */

/* Note for future use: To change BS hamburger icon colour: Type in the rgba value you want in the 'stroke' svg path. */
/* Hamburger Icon Styles */

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(224, 224, 224, 1)' stroke-linecap='round' stroke-miterlimit='6' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(227, 255, 114, 1)' stroke-linecap='round' stroke-miterlimit='6' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Navbar Background */
.nav-bg {
    background-color: var(--light-black)!important;
}

.navbar-ul {
    background-color: var(--light-black);
    padding: 1.5em;
}

/* Navbar Links (a)  */
.navbar .navbar-ul .nav-link {
    color: var(--light-grey);
    font-size: 1.5em;
    text-transform: uppercase;
    transition: 0.2s ease-in all;    
}

.navbar .navbar-ul .nav-link:hover {
    color: var(--light-grey);
    border-bottom: solid var(--accent-1) 2px;
    transform: scale(1.05);
}

.navbar .navbar-ul .active>.nav-link {
    color: var(--accent-1);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: var(--accent-1) 2px solid;
}

/****************************************** Navigation: Social Media Styles */

.social-media-icon {
    font-size: 1em;
    color: var(--light-grey); 
}

.social-media-icon:hover {
    color: var(--accent-1);
}

.social-media-link {
    margin-right: 0.6rem;   
}

/****************************************** Home Section */

#home-section {
    height: 100vh;
    position: relative;
    justify-content: flex-end;
}

.landing-page-heading {
    margin: 1em auto 0;
    padding: 0.5em;
    font-size: 2em;   
}

#home-section p {
    font-size: 0.85em;
    text-align: center;
}

.arrow-down-home-to-bio {
    margin-bottom: 20px;
    margin-top: 20px; 
}

/****************************************** Personal Bio Section */


.bio-heading {
    padding-bottom: 0.3em;
}

p.personal-info  {
    font-size: 1.2em;
    text-align: justify;
    hyphens: auto;
    padding-bottom: 2em;
    margin-bottom: 0;
    padding: 1em;
}

#karina-photo {
    width: 200px;
    border-radius: 7px;
}

.profile-pic {
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    text-align: center;
    padding: 2em;
}


/****************************************** Work History Section */


.timeline-container {
    position: relative;
    height: 100px;
    /* width: 100%; */
}

.timeline-line::after {
    position: absolute;
    content:"";
    left: 50%;
    top: 0;
    bottom: 0;
    border-left: var(--accent-1) dotted 4px;
}

.timeline-icon {
    font-size: 2.4em;
    transition: all ease-in 0.2s;
    width: 50px;
}

.timeline-icon:hover {
    color: var(--accent-1);
    transform: scale(1.2);

}

.timeline-info {
    position: absolute;
    display: none;
}

.timeline-info {
    background-color: var(--light-black);
    padding: 1em;
    border-radius: 7px;
    width: 100vw;
    height: 180px;
}

.timeline-info .date {
    font-weight: 300;
    font-style: italic;
    color: var(--light-grey); 
}

.timeline-info .place {
    font-weight: 500;
    font-size: 1.2em;
    color: var(--light-grey);
}

.timeline-info .event-or-role {
    color: var(--light-grey);
}

 .timeline-info-left {
    top: 55%;
}

.timeline-info-right {
    top: 55%;
} 

#timeline-tcd,
#timeline-bmr,
#timeline-photogs,
#timeline-argon,
#timeline-sli,
#timeline-wbk,
#timeline-ci {
    margin-top: 3%;
}

#timeline-gd,
#timeline-stills {
    margin-top: 9%;
}

.end-of-timeline p {
    margin-bottom: 0;
    font-size: 1.2em;
}

.end-of-timeline a {
    color: var(--accent-1);
    text-decoration: underline;
    transition: 0.5s ease-in all;
}


.end-of-timeline a:hover {
    font-size: 1.1em;
}

.arrow-down-history-to-skills {
    margin-bottom: 20px;
}

/* Timeline Blur & Darken Background on Hover */

.blur-and-darken {
    filter: blur(3px) brightness(40%);
}

/* Sun Animation */

#timeline-sun {
    animation: rotatingsun 3s infinite;
}

@keyframes rotatingsun {
  0% {
    transform: rotate(0deg);
  }
  25% {
      transform: rotate(90deg);
  }
  50% {
      transform: rotate(180deg);
  }
  75% {
      transform: rotate(270deg);
  }
  100% {
      transform: rotate(360deg);
  }
}



/****************************************** Skills Section */

.skills-intro > p {
    font-size: 1.2em;
    color: var(--light-grey);
}

.skills-h4,
.skills-h4-boxes-1 {
    text-transform: uppercase;
    text-align: center;
}

.skill-icon-wrapper {
    text-align: center;
    margin-bottom: 3%;
}

.skill-icon {
    font-size: 2em;
    color: var(--accent-1);
}

.skill-row {
    padding: 1.1em 1.3em;
}

.skill-col {
    padding: 1.1em 2.6em;
    text-align: left;
}

.skill-row-boxy-box > p {
    font-size: 1.1em;
    hyphens: auto;
    letter-spacing: 0.8px;
    color: var(--light-grey);
}

.skills-tools {
    padding: 2.3em 1.5em;
    margin: 2em 0;
    border: solid 2px var(--accent-1);
    border-radius: 9px;
}

.skill-tools-boxy-box > .h2-heading {
    text-align: center;
}

.skill-tools-boxy-box > p {
    font-size: 1.1em;
    color: var(--light-grey);
}

.languages-wrapper {
    justify-content: center;
}

.languages-wrapper > p {
    font-size: 1.4em;
    color: var(--light-grey);
}

.languages-col {
    padding-top: 0;
    padding-bottom: 0;
}

.languages-col > .skill-icon-wrapper {
    margin-bottom: 1.2em;
}

.skills-code-institute {
    font-size: 1.3em;
    padding-top: 2.3em;
    color: var(--light-grey);
}

#code-institute-link {
    color: var(--accent-1);
    transition: 2s ease-in all;
}

#code-institute-link:hover {
   transform: scale(1.1);
   text-decoration: underline;
}

.graph-box {
    background-color: var(--pure-black);
    padding: 2em;
    border-radius: 8px;
}

.progress {
    height: 30px;
}

.progress-bar {
    align-items: flex-start;
    padding-left: 1.5em;
}

/****************************************** Portfolio Section */

.portfolio-intro > p {
    color: var(--light-grey);
}

/* Project Box Font Styles */

h2.project-name {
    font-family: "Lato", sans-serif;
    font-size: 1.3em;
    letter-spacing: 1.5px;
}

h3.project-subheading {
    color: var(--light-grey);
    font-size: 1em;
}

p.project-brief {
    font-size: 0.9em;
    color: var(--light-grey);
}

a.download-pro-specs > h5,
a.live-site > h5 {
    font-size: 0.9em;
}

/* Spacing & base styles for project boxes */

.project-container-a,
.project-container-b {
    background-color: var(--light-black);
    padding: 2em;
    margin: 1em;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.project-image {
    margin-top: 15px;
}

/* Grid definitions and styles for left-heading & right-heading project boxes */

.project-container-a,
.project-container-b {
    display: grid;
    grid-template-areas: 
        "heading"
        "subheading"
        "brief"
        "download"
        "live-site"
        "image";
    grid-template-columns: 100%;
    position: relative;
    }



/* Grid-Area Definitions for elements in the project boxes */

.project-name-a,
.project-name-b {
    grid-area: heading;
}

.project-subheading-a,
.project-subheading-b {
    grid-area: subheading;
}

.project-brief-a,
.project-brief-b {
    grid-area: brief;
}

.project-image-a,
.project-image-b {
    grid-area: image;
}

.live-site-a,
.live-site-b,
.in-development-a,
.in-development-b {
    grid-area: live-site;
}

.download-pro-specs-a,
.download-pro-specs-b {
    grid-area: download;
}


/* Styles for the download & live site links */
.project-container-a > a,
.project-container-b > a {
    color: var(--light-grey);
}

.project-container-a > a:hover,
.project-container-b > a:hover {
    color: var(--accent-1);
}

/* Project Image Styles and Layout */

.project-image {
    height: auto;
    width: 100%; 
    max-width: 450px;
}

/* For Projects in Development  */

h3.in-development-a,
h3.in-development-b {
    color: var(--light-grey);
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0.5em;
    border: 2px dashed var(--accent-1);
    margin-top: 1em;
    width: 75%;
    text-align: center;
}

/****************************************** Contact Form Section */

#contact-section {
    height: 100vh;
    display: grid;
}

#contact-section > div.col.contact-heading-col {
    align-self: center;
}

#contact-section h1 {
    padding: 0.5em;
}

form input,
form textarea,
form button {
    width: 80%;
}

form input {
    background-color: var(--light-black);
    border: none;
    border-bottom: var(--accent-1) solid 2px;
    margin-bottom: 2em;
    outline: none;
    height: 50px;
    font: "Lato", 1em;
    color: var(--light-grey);
}

form textarea {
    background-color: var(--light-black);
    border: 2px solid var(--accent-1);
    border-radius: 3px;
    height: 185px;
    outline: none;
    resize: none;
    font: "Lato", 1em;
    color: var(--light-grey);
}

form input:active,
form textarea:active {
    outline: var(--accent-1) 2px solid;
}

::placeholder {
    color: var(--light-grey);
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    letter-spacing: 1.3px;
}

form button {
    background-color: var(--accent-1);
    color: var(--light-black);
    border: solid 1px var(--accent-1);
    border-radius: 3px;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    height: 50px;
    margin-top: 4px;
    transition: ease-in 0.3s all;   
}

form button:hover {
    background-color: var(--accent-2);
    font-size: 1.3em;
    border: var(--accent-2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;   
}

form button:active {
    background-color: var(--accent-1);
    color: var(--light-black);
    outline: var(--accent-1) dotted 3px;
}

/****************************************** Footer Section */

/* Footer Spacing and Layout */

.footer-divider {
    border-bottom: 1px solid var(--light-grey);
    padding-top: 3em;
    margin-bottom: 3em;
    width: 70%;
}

/* Footer Text Styles */

.footer-main-navigation > a,
.footer-social-navigation > a {
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    color: var(--accent-1);
    transition: 0.2s ease-in all;
}

.footer-main-navigation > a:hover,
.footer-social-navigation > a:hover  {
    transform: scale(1.1);
}

.footer-download-trad-cv h5 {
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    color: var(--light-grey);
    padding-top: 2em;
}

.footer-download-trad-cv p {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    color: var(--light-grey);
    padding-top: 1em;
}

.footer-download-trad-cv i {
    font-size: 2em;
    color: var(--light-grey);
    margin-bottom: 1em;
}

.footer-developer-brand {
    align-items: center;
}

.footer-developer-brand i {
    font-size: 2em;
    color: var(--light-grey);
}

.footer-social-navigation > h4,
.footer-main-navigation >h4 {
    font-size: 1.35em;
}

.footer-developer-brand > p,
.back-to-top-text {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    padding: 0.5em;
    color: var(--light-grey);
    margin-bottom: 0;
}

.footer-developer-brand > i,
.footer-developer-brand > a,
.footer-developer-brand > a > i { 
    color: var(--accent-1);
}


.back-to-top {
    margin-left: 1.5em;
    display: flex;
    align-items: center;
}

#cv-download {
    transition: 0.2s ease-in all;
}

#cv-download:hover {
    text-decoration: none;
    transform: scale(1.05);
}


/* Footer Grid Definitions and Layout */

.footer-grid {
    display: grid;
    grid-template-areas: 
        "download-cv"
        "social-navigation"
        "main-navigation"
        "developer-brand";
    grid-row-gap: 20px;
    justify-items: center;
}

.footer-social-navigation {
    grid-area: social-navigation;
}

.footer-developer-brand {
    grid-area: developer-brand;
}

.footer-main-navigation {
    grid-area: main-navigation;
    padding-bottom: 2em;
}

.footer-download-trad-cv {
    grid-area: download-cv;
    border-top: var(--accent-1) 2px solid;
    border-bottom: var(--accent-1) 2px solid;
    padding: 1.2em;
    margin: 0 auto;
    /* border-radius: 8px; */
    width: 85%;
    margin-top: 3.5em;
    margin-bottom: 2em;
}

.footer-social-navigation,
.footer-main-navigation,
.footer-download-trad-cv,
.footer-developer-brand {
    display: flex;
    flex-direction: column;
}

.download-cv-icon {
    align-self: center;
}

.footer-developer-brand {
    display: flex;  
    flex-direction: row;
    border-top: var(--accent-1) 2px solid;
    padding: 2em;
}

.fa-fish:hover {
    animation: fishyswim 5s ease-in;
    animation-iteration-count: infinite;
}

@keyframes fishyswim {
  0% {
    transform: translate(0,0);
  }
  10% {
      transform: translate(2em, 1em);
  }
  20% {
      transform: translate(6em,-1.5em) rotate(-90deg);
  }
  30% {
      transform: translate(-6em, -1.5em) rotate(-180deg);
  }
  40% {
      transform: translate(-12em, -1em) rotate(-270deg);
  }

  50% {
    transform: translate(-12em, -1em) rotate(-360deg);
  }
  60% {
      transform: translate(-6em,-0.5em) rotate(-360deg);
  }
   70% {
      transform: translate(-2em, 0em) rotate(-360deg);
  }
   80% {
      transform: translate(-1em, 0em) rotate(-360deg);
  }
   90% {
      transform: translate(0em, 0em) rotate(-360deg);
  }
  100% {
     transform: translate(0em, 0em) rotate(-360deg);
  }
}

.fa-long-arrow-alt-up:hover {
    animation: arrow-up 1s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes arrow-up {
  0% {
    transform: translate(0,0);
  }
  50% {
      transform: translate(0,-20px);
  }
  100% {
      transform: translate(0,0);
  }
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

/****************************************** Small Screens - Home Section */

    .arrow-down-home-to-bio {
        margin-top: 5%;
    }

    .landing-page-heading,
    .section-heading {
        font-size: 2.6em;
    }   

    .landing-page-heading {
    margin: 1em auto 0;
    padding: 1.5em;
    font-size: 2.2em;   
    }


/****************************************** Small Screens - Personal Bio Section */

    #bio-section {
        position: relative;     
    }

    .personal-info-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    p.personal-info  {
        font-size: 1.2em;
    }

    .profile-pic {
        float: right;
        margin-top: 1.4em;
        position: relative;
        overflow: hidden;
        padding: 0.5em;
        padding-left: 1.2em;
    }

    #karina-photo {
        border-radius: 7px;
        float: right;
        max-width: 280px;
        max-height: 350px;
    }

/****************************************** Small Screens - Work History Section */

.timeline-icon {
    width: 100px;
}


/****************************************** Small Screens - Portfolio Section */

    h3.in-development-a,
    h3.in-development-b {
        width: 50%;
        font-size: 1.3em;
    }

/* Grid definitions and styles for left-heading project boxes */

.project-container-a {
    grid-template-areas: 
        "heading heading"
        "subheading subheading"
        "brief brief"
        "download download"
        "live-site live-site"
        "image image";
    justify-content: left;
    grid-template-columns: 50% 50%;
    }

/* Grid definitions and styles for right-heading project boxes */

.project-container-b {
    grid-template-areas: 
        "heading heading"
        "subheading subheading"
        "brief brief"
        "download download"
        "live-site live-site"
        "image image";
    justify-content: right;
    grid-template-columns: 50% 50%;
    }

/* Using justify-self to justify elements to the left and right of the project boxes */

    .project-name-a,
    .project-subheading-a,
    .project-brief-a,
    .project-image-b,
    .live-site-a,
    .download-pro-specs-a,
    .in-development-a {
        justify-self: left;
    }

    .project-name-b,
    .project-subheading-b,
    .project-brief-b,
    .project-image-a,
    .live-site-b,
    .download-pro-specs-b,
    .in-development-b {
        justify-self: right;
    }


 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

/****************************************** Medium Screens - Universal Style Changes */

    .section-heading {
        font-size: 3.8em;
    }   

/****************************************** Medium Screens - Landing Page Section */


.landing-page-heading {
    font-size: 2.7em;    
}

.arrow-down-home-to-bio {
    margin-top: 9%;
    
}


/****************************************** Medium Screens - Personal Bio Section */

.profile-pic {
    padding-bottom: 0.5em;
    padding-top: 0;
}


/****************************************** Medium Screens - Work History Section */

    .timeline-icon {
        font-size: 3em;
    }

    .timeline-info {
        width: 280px;
        border: solid 2px var(--accent-1);
    }

    .timeline-info-left {
        left: 60%;
        top: 55%;
    }

    .timeline-info-right {
        right: 60%;
        top: 55%;
    }

    .timeline-icon {
    width: 300px;
}

/****************************************** Medium Screens - Skills Section */

    .divider-short {
        display: none;
    }

    .skill-row-boxy-box,
    .skill-human-language-boxy-box,
    .skill-tech-language-boxy-box {
        background-color: var(--dark-grey);
        padding: 2em;
        height: 340px;
        border-radius: 8px;
        position: relative;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
    }

    .box-to-animate {
        transform: rotate(-5deg);
        animation: rotate 3s infinite;
        animation-direction: alternate;
        transform-origin: top right;  
    }

    @keyframes rotate {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
    }

    .skill-row-boxy-box > p {
        position: absolute;
        left: 6%;
        bottom: 2%;
        right: 6%;
        font-size: 1.1em;
    }

    .skills-h4-boxes-1 {
        position: absolute;
        bottom: 69%;
        left: 6%;
    }

    .skill-icon {
        position: absolute;
        top: 4%;
        right: 4%;
    }

    .languages-wrapper > p {
        font-size: 1em;
        position: absolute;
        bottom: 2%;
        left: 15%;
    }

    .skills-h4-boxes-2 {
        position: absolute;
        bottom: 43%;
        left: 15%;
    }

    .languages-col {
        padding: 2.3em 1.5em;
    }

    .skills-tools {
        height: 250px;
    }

    .skill-human-language-boxy-box,
    .skill-tech-language-boxy-box{
        height: 250px;
    }

    .languages-wrapper > p {
        font-size: 0.9em;
    }

    .br-from-md {
        display: block;
    }

    .skills-code-institute > p {
        font-size: 0.95em;
    }

/****************************************** Medium Screens - Portfolio Section */

/* Project Box Font Styles */

h2.project-name {
    font-size: 2em;  
}

h3.project-subheading {
    font-size: 1.2em;
}

p.project-brief {
    font-size: 1.1em;
}

a.download-pro-specs > h5,
a.live-site > h5 {
    font-size: 1em;
}

/* Spacing & base styles for project boxes */

.project-container-a,
.project-container-b {
    padding: 3em;
    margin: 1.2em;
}

/* Grid definitions and styles for left-heading project boxes */

.project-container-a {
    grid-template-areas: 
        "heading heading"
        "subheading subheading"
        "brief brief"
        "download download"
        "live-site live-site"
        "image image";
    justify-content: left;
    grid-template-columns: 50% 50%;
    }

/* Grid definitions and styles for right-heading project boxes */

.project-container-b {
    grid-template-areas: 
        "heading heading"
        "subheading subheading"
        "brief brief"
        "download download"
        "live-site live-site"
        "image image";
    justify-content: right;
    grid-template-columns: 50% 50%;
    }

/* Using justify-self to justify elements to the left and right of the project boxes */

    .project-name-a,
    .project-subheading-a,
    .project-brief-a,
    .project-image-b,
    .live-site-a,
    .download-pro-specs-a,
    .in-development-a {
        justify-self: left;
    }

    .project-name-b,
    .project-subheading-b,
    .project-brief-b,
    .project-image-a,
    .live-site-b,
    .download-pro-specs-b,
    .in-development-b {
        justify-self: right;
    }

    h3.in-development-a,
    h3.in-development-b {
    width: 40%;
    }

/****************************************** Medium Screens - Footer Section */

.footer-grid {
    grid-template-areas: 
        "social-navigation download-cv main-navigation"
        "developer-brand developer-brand developer-brand";
}

.footer-download-trad-cv {
    border-left: var(--accent-1) 1px solid;
    border-right: var(--accent-1) 1px solid;
    border-top: none;
    border-bottom: none;
    padding: 1.1em;
    margin-top: 3.5em;
    margin-bottom: 2em;
}

.footer-developer-brand {
    border-top: none;
    padding: 1em;
}

.footer-main-navigation,
.footer-social-navigation {
    margin-top: 3.9em;
    padding: 1.1em;
}


}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

/****************************************** Large Screens - Home Section */

.arrow-down-home-to-bio {
    margin-top: 11%;    
}

/****************************************** Large Screens - Font-Sizing */

.landing-page-heading,
.section-heading {
    font-size: 3.8em;
}

/****************************************** Large Screens - Home Section */

    .landing-page-heading {
        font-size: 3em;
    }

    .line-br-lg-screens {
        display: block;
    }


/****************************************** Large Screens - Navigation Bar */

    .navbar-ul {
        padding: 0.5em;
    }

    .navbar .navbar-ul .nav-link {
        font-size: 1.2em;
    }

/****************************************** Large Screens - Navigation: Social Media Styles */

.social-media-icon {
    font-size: 1em;
}

.social-media-link {
    margin-right: 0.6rem;
    font-size: 1.5rem;
}

/****************************************** Large Screens - Personal Bio Section */


.personal-info-wrapper {
        width: 75%;
        margin: 0 auto;
    }

/****************************************** Large Screens - Work History Section */
    

    .timeline-icon {
        font-size: 3em;
    }


    .timeline-info-left {
        left: 15%;
        top: 55%;
    }

    .timeline-info-right {
        right: 15%;
        top: 55%;
    }

/****************************************** Large Screens - Skills Section */

    .skill-col-boxes {
        padding: 1.1em 1.1em;
    }

    .skill-row-boxy-box {
        width: 220px;   
    }

    .skill-row-boxy-box > p {
        left: 6%;
        top: 33%;
        right: 6%;
        font-size: 1em;
    }

    .skills-h4-boxes-1 {
        top: 23%;
        left: 6%;
    }

    .skill-icon {
        top: 4%;
        right: 4%;
    }

    .skill-tools-boxy-box > p {
        margin-top: 25px;
    }

    .skills-h4-boxes-2,
    .languages-wrapper > p {
        left: 25%;
    }

/****************************************** Large Screens Portfolio Section */


/* Grid definitions and styles for left-heading project boxes */

.project-container-a {
    padding: 3em;
    margin: 1.2em;
    display: grid;
    grid-template-areas: 
        "heading heading image"
        "subheading subheading image"
        "brief brief image"
        "download download image"
        "live-site live-site image";
    align-items: center;
    justify-content: left;
    grid-template-columns: 30% 30% 40%;
    grid-column-gap: 15px;
    }


/* Grid definitions and styles for right-heading project boxes */

.project-container-b {
    padding: 3em;
    margin: 1.2em;
    display: grid;
    grid-template-areas: 
        "image heading heading"
        "image subheading subheading"
        "image brief brief"
        "image download download"
        "image live-site live-site";
    align-items: center;
    justify-content: right;
    grid-template-columns: 40% 30% 30%;
    grid-column-gap: 5px;
    }


/* Styles for the download & live site links */
.project-container-a > a,
.project-container-b > a {
    color: var(--light-grey);
}

.project-container-a > a:hover,
.project-container-b > a:hover {
    color: var(--accent-1);
}

/* Project Image Styles and Layout */

.project-image {
    height: auto;
    width: 100%; 
}


h3.in-development-a,
h3.in-development-b {
width: 50%;
}


/****************************************** Large Screens Footer Section */


.footer-grid {
    grid-template-areas: 
        "social-navigation  download-cv download-cv"
        "developer-brand developer-brand developer-brand";
    width: 65%;
    margin: 0 auto;
}

.footer-download-trad-cv {
    border: var(--accent-1) 1px solid;
    border-radius: 8px;
    padding: 1.1em;
    padding-bottom: 0.5em;
    margin-top: 3.5em;
    margin-bottom: 1em;
    min-width: 280px;
}

.footer-developer-brand {
    border-top: none;
    padding: 1em;
}

.footer-main-navigation,
.footer-social-navigation {
    margin-top: 3.9em;
    padding: 1.1em;
}

.footer-main-navigation > h4,
.footer-main-navigation {
    display: none;
}



 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

/****************************************** Extra-Large Screens - Personal Bio Section */

    .home-scroll-down {
    left: 43%;
}

/****************************************** Extra-Large Screens - Personal Bio Section */

    .personal-info-wrapper {
        width: 65%;
        margin: 0 auto;
    }

/****************************************** Extra-Large Screens - Work History Section */

    .timeline-info-left {
        left: 20%;
        top: 55%;
    }

    .timeline-info-right {
        right: 20%;
        top: 55%;
    }

/****************************************** Extra-Large Screens - Skills Section */
 

    .skill-row-boxy-box {
        padding: 2em;
        width: 270px;
    }

     .skill-tools-boxy-box > p {
        font-size: 1.15em;
    }


    .languages-wrapper > p {
        left: 35%;
        bottom: 6%;
        font-size: 1.1em;
    }

    .skills-h4-boxes-2 {
        left: 35%;
        bottom: 55%;
    }

/****************************************** Extra-Large Screens - Portfolio Section */
 


.portfolio-section-wrapper {
    max-width: 88%;
    margin: 0 auto;
}

 }
 
@media (min-width: 1330px) { 

       #skills-section {
        max-width: 88%;
    }
}

@media (min-width: 1400px) { 

    .portfolio-section-wrapper {
        max-width: 79%;
    }
}

/* Devices where users CANNOT hover over elements e.g. phones, tablets, touch-screens etc... Info sourced from: (https://drafts.csswg.org/mediaqueries-4/#hover)  */

@media (hover:none) {
    .timeline-instruction-device {
        display: block;
    }
    
    .timeline-instruction-non-device {  
        display: none;
    }
}

/* Devices where users CAN hover over elements e.g. desktops. Info sourced from: (https://drafts.csswg.org/mediaqueries-4/#hover)  */


    @media (hover:hover) {
        .timeline-instruction-device {
            display: none;
        }
        
        .timeline-instruction-non-device {  
            display: block;
        }

}