@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/****************************************** Colours */

:root {
    --pure-black: #000;
    --light-black: #1E1E1E;
    --dark-grey: #282828;
    --accent-1: #E3FF72;
    --light-grey: #E0E0E0;
    --pure-white: #fff; 
}

.accent-highlight {
    color: var(--accent-1);
}

.black-lowlight {
    color: var(--pure-black);
}

.light-grey-highlight {
    color: var(--light-grey);
}

#home-section,
#skills-section {
    background-color: var(--light-black);
}

#bio-section,
#work-history-section {
    background-color: var(--dark-grey);
}

/****************************************** Spacing */

.line-br-lg-screens {
    display: none;
}

/****************************************** Universal Styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1  {
    font-family: "Lato", sans-serif;
    font-size: 2.2em;
    color: var(--light-grey);
}

p {
    color: var(--light-grey);
    font-family: "Roboto", sans-serif;
}

a {
    font-family: "Roboto", sans-serif;
}


/****************************************** Navigation */

/* Overriding Bootstrap Navbar Styles */

/* Note for future use: To change BS hamburger icon colour: Type in the rgba value you want in the 'stroke' svg path. */
/* Hamburger Icon Styles */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(224, 224, 224, 1)' stroke-linecap='round' stroke-miterlimit='6' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(227, 255, 114, 1)' stroke-linecap='round' stroke-miterlimit='6' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Navbar Background */
.nav-bg {
    background-color: var(--light-black)!important;
}

.navbar-ul {
    background-color: var(--light-black);
    padding: 1.5em;
}


/* Navbar Links (a)  */
.navbar .navbar-ul .nav-link {
    color: var(--light-grey);
    font-size: 1.5em;
    text-transform: uppercase;
    
}

.navbar .navbar-ul .nav-link:hover {
    color: var(--light-grey);
    border-bottom: solid var(--accent-1) 2px;
}

.navbar .navbar-ul .active>.nav-link {
    color: var(--accent-1);
}


/****************************************** Navigation: Social Media Styles */

.social-media-icon {
    font-size: 1em;
    color: var(--light-grey); 
}

.social-media-icon:hover {
    color: var(--accent-1);
}

.social-media-link {
    margin-right: 0.6rem;
    font-size: 1.5rem;
}

a > .arrow-down > i {
    font-size: 2em;
    color: var(--accent-1);
}

/****************************************** Home Section */

#home-section {
    height: 100vh;
    position: relative;
}

#home-section h1 {
    margin: 1em auto 0;
    padding: 1.5em;
    
}

#home-section p {
    font-size: 0.85em;
    text-align: center;
}

.arrow-down {
    text-align: center;
    margin-bottom: 20px;
}



/****************************************** Personal Bio Section */

#bio-section .personal-info p {
    font-size: 1.2em;
}

#karina-photo {
    width: 280px;
    border-radius: 7%;
    border: groove var(--accent-1) 1px;
}

/****************************************** Work History Section */


.timeline-container {
    position: relative;
    height: 100px;
    width: 100%;
}

.timeline-line::after {
    position: absolute;
    content:"";
    left: 50%;
    top: 0;
    bottom: 0;
    border-left: var(--accent-1) dotted 4px;
 
}

.timeline-icon {
    font-size: 2.4em;
    margin-left: -6.5%;
    transition: all ease-in 0.2s;
}

.timeline-icon:hover {
    color: var(--accent-1);
    transform: scale(1.2);

}

.timeline-info {
    position: absolute;
    display: none;
}


.timeline-info {
    background-color: var(--light-black);
    padding: 1em;
    border: solid 2px var(--accent-1);
    border-radius: 7px;
    width: 100vw;

}

.timeline-info .date {
    font-weight: 300;
    font-style: italic;
}

.timeline-info .place {
    font-weight: 500;
    font-size: 1.2em;
}

 .timeline-info-left {
    top: 55%;
}

.timeline-info-right {
    top: 55%;
} 



.end-of-timeline p {
    margin-bottom: 0;
    font-size: 1.2em;
}

.end-of-timeline a {
    color: var(--accent-1);
    text-decoration-style: wavy;
    text-decoration: underline;

}

.end-of-timeline a:hover {
    font-size: 1.3em;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /****************************************** Medium Screens - Font-Sizing */

h1 {
    font-size: 3.8em;
}

/****************************************** Medium Screens - Work History Section */

    .timeline-icon {
        font-size: 3em;
        margin-left: -4%;
    }

    .timeline-info {
        width: 280px;
    }

    .timeline-info-left {
        left: 60%;
        top: 55%;
    }

    .timeline-info-right {
        right: 60%;
        top: 55%;
    }

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    /****************************************** Large Screens - Font-Sizing */

h1 {
    font-size: 3.8em;
}

/****************************************** Large Screens - Home Section */

    #home-section > div:nth-child(1) > div > h1 {
        font-size: 4.2em;
    }

    .line-br-lg-screens {
        display: block;
    }

/****************************************** Large Screens - Personal Bio Section */

/****************************************** Large Screens - Work History Section */
    

    .timeline-icon {
        font-size: 3em;
        margin-left: -1.5%;
    }


    .timeline-info-left {
        left: 15%;
        top: 55%;
    }

    .timeline-info-right {
        right: 15%;
        top: 55%;
    }

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .timeline-info-left {
        left: 20%;
        top: 55%;
    }

    .timeline-info-right {
        right: 20%;
        top: 55%;
    }
 }

/* Devices where users CANNOT hover over elements e.g. phones, tablets, touch-screens etc... Info sourced from: (https://drafts.csswg.org/mediaqueries-4/#hover)  */

@media (hover:none) {
    .timeline-instruction-device {
        display: block;
    }
    
    .timeline-instruction-non-device {  
        display: none;
    }
}

/* Devices where users CAN hover over elements e.g. desktops. Info sourced from: (https://drafts.csswg.org/mediaqueries-4/#hover)  */


    @media (hover:hover) {
        .timeline-instruction-device {
            display: none;
        }
        
        .timeline-instruction-non-device {  
            display: block;
        }

}